<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- Redirect HTTP to HTTPS -->
    <rewrite>
      <rules>
        <rule name="Redirect to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>

    <!-- Disable directory browsing -->
    <directoryBrowse enabled="false" />

    <!-- Block direct access to sensitive files -->
    <security>
      <requestFiltering>
        <fileExtensions>
          <add fileExtension=".sh" allowed="false" />
          <add fileExtension=".ini" allowed="false" />
          <add fileExtension=".log" allowed="false" />
          <add fileExtension=".json" allowed="false" />
          <add fileExtension=".bak" allowed="false" />
          <add fileExtension=".old" allowed="false" />
          <add fileExtension=".backup" allowed="false" />
        </fileExtensions>
      </requestFiltering>
    </security>

    <!-- Protect /archive/ directory -->
    <location path="archive">
      <system.webServer>
        <security>
          <requestFiltering>
            <hiddenSegments>
              <add segment="*" />
            </hiddenSegments>
          </requestFiltering>
        </security>
      </system.webServer>
    </location>

    <!-- Endpoint protection -->
    <location path="endpoint">
      <system.webServer>
        <security>
          <requestFiltering>
            <!-- Deny everything -->
            <hiddenSegments>
              <add segment="*" />
            </hiddenSegments>
          </requestFiltering>
        </security>

        <!-- Allow specific PHP files -->
        <handlers accessPolicy="Read, Script">
          <add name="index.php" path="index.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php\php-cgi.exe" resourceType="File" requireAccess="Script" />
          <add name="update.php" path="update.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php\php-cgi.exe" resourceType="File" requireAccess="Script" />
          <add name="download.php" path="download.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php\php-cgi.exe" resourceType="File" requireAccess="Script" />
          <add name="backsync.php" path="backsync.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php\php-cgi.exe" resourceType="File" requireAccess="Script" />
        </handlers>
      </system.webServer>
    </location>
  </system.webServer>
</configuration>
